<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MassDataHandler.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="WikiTutorialPage" value="http://www.codeplex.com/Wiki/View.aspx?ProjectName=MassDataHandler"/>

    <add key="DBConnectionString" value="Data Source=.\SQLSERVER2005;Initial Catalog=MassDataHandlerTest;User Id=TestUser2;Password=MyPassword;" />

  </appSettings>
  <userSettings>
    <MassDataHandler.Gui.Properties.Settings>
      <setting name="InsertConString" serializeAs="String">
        <value />
      </setting>
      <setting name="UseExistingConString" serializeAs="String">
        <value />
      </setting>
      <setting name="InsertImportPath" serializeAs="String">
        <value />
      </setting>
    </MassDataHandler.Gui.Properties.Settings>
  </userSettings>
</configuration>

